<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>RudarelNews</title>
    <link rel="stylesheet" type="text/css" href="Style.css" />
</head>
<body>
    <form id="form1" runat="server">
        <div class="banner">
            <div id="logo">
            Rudărel<span id="logoc">News</span>
            <div id="sub">Noi punem <span id="coi">coi</span> in por<span id="porcoi">coi </span></div>
        </div>

        </div>

        <ul id="navigation">

        </ul>

        <div id="content_area">

        </div>

        <div id="sidebar">

        </div>

        <div id="footer">
            <p>All rights reserved</p>
        </div>
    </form>
</body>
</html>
