.banner {
    height:200px;
    background: black;
    color: white;
    font-size: 70px;
    font-family: Helvetica;
    border: 3px solid #E3E3E3;
}

#logo{
    position: absolute;
    top: 16%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

#logo #logoc {
  background: #F49931;
  color: black;
  border-radius: 10px;
  padding: 5px;
  margin-left: 5px;
}

#sub {
  font-size: 28px;
  position: absolute;
  letter-spacing: 2px;
  margin-top: 3px;
  margin-left: 12%;
}

#coi {
  color: #F49931;
}

#porcoi {
  color: #F49931;
}

#wrapper {
    width: 90%;
    margin: 0 auto;
    padding: 1%;
    border: 5px solid #dedede;
}

#navigation {
    height: 60px;
    border: 3px solid #E3E3E3;
    margin-top: 2%;
    padding-left: 20%;
    letter-spacing: 2px;
    background-color: black;
}

#nav {
    list-style: none;
}

#nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
    display: none;
}

#nav li ul li {
    color: white;
    border: 3px solid #E3E3E3;
    padding-left: 10px;
}

#nav li{
    font-size: 20px;
    float: left;
    position: relative;
    width: 20%;
    height: 50px;
}

#content_area {
    float: left;
    width: 67%;
    margin: 2% 0 2% 0;
    padding: 10px;
    border: 3px solid #E3E3E3;
}

#content_area_CMS {
    float: left;
    width: 90%;
    margin: 2% 0 2% 0;
    padding: 10px;
    border: 3px solid #E3E3E3;
}

#sidebar {
    float: right;
    width: 27%;
    height: 400px;
    margin: 20px 10px 20px 10px;
    border: 3px solid #E3E3E3;
}

#footer {
    clear: both;
    width: auto;
    height: 1%;
    margin-top: 1%;
    color: black;
    text-align: center;
    border: 3px solid #E3E3E3;
}

#btnOrderTitle{
    margin-left: 10%;
}

#btnOrderDate{
    margin-left: 10%;
}