.banner {
    height:200px;
    background: black;
    color: white;
    font-size: 70px;
    font-family: Helvetica;
    border: 3px solid #E3E3E3;
}

#logo{
    position: absolute;
    top: 17%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

#logo #logoc {
  background: #F49931;
  color: black;
  border-radius: 10px;
  padding: 5px;
  margin-left: 5px;
}

#sub {
  font-size: 28px;
  position: absolute;
  letter-spacing: 2px;
  margin-top: 3px;
  margin-left: 12%;
}

#coi {
  color: #F49931;
}

#porcoi {
  color: #F49931;
}

#wrapper {
    width: 1080px;
    margin: 0 auto;
    padding: 10px;
    border: 5px solid #dedede;
}

#navigation {
    height: 60px;
    border: 3px solid #E3E3E3;
    margin-top: 2%;
}

#content_area {
    float: left;
    width: 67%;
    margin: 2% 0 2% 0;
    padding: 10px;
    border: 3px solid #E3E3E3;
}

#sidebar {
    float: right;
    width: 27%;
    height: 400px;
    margin: 20px 10px 20px 10px;
    border: 3px solid #E3E3E3;
}

#footer {
    clear: both;
    width: auto;
    height: 40px;
    margin-top: 20px;
}